.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.pageCount {
  color: var(--white);
  font-weight: bold;
  text-align: center;
  margin: 0 15px;
}
